:root {
  --color-principal: #CCEAF4;
  --color-complementario1: #A9A9A9;
  --color-complementario2: #FF3B3F;
  --color-oscuro: #232323;
  --color-claro: #EFEFEF;
}

#accounts-container {
  padding: 40px;
  font-family: "Segoe UI", sans-serif;
  background-color: var(--color-claro);
  min-height: 100vh;
  flex-direction: column;
  border-radius: 20px;
}

.cards-container {
  display: flex;
  flex-wrap: wrap;   
  justify-content: center;
  flex-direction: row;
  align-items: stretch; 
  flex-wrap: nowrap;
  gap: 30px;              
  margin-top: 30px;
}

h1 {
  text-align: center;
  color: var(--color-oscuro);
}

p{
    text-align: center;
    color: var(--color-oscuro);
    margin-bottom: 10px;
    font-weight: 600;
}

.account-card p {
    margin-bottom: 15px;
}

.account-info {
    width: 100%;
}

.account-card strong {
    margin-right: 5px;
}

h2 {
    color: var(--color-oscuro);
    margin-top: 40px;
    font-weight: 800;
}

td {
    color: var(--color-oscuro);
}
  
.saldo-actual p {
  font-size: 1.5rem;
  color: var(--color-oscuro);
  background-color: var(--color-principal);
  margin: 0;
  text-align: center;
  font-weight: bold;
}


.account-card,
.saldo-actual {
  background-color: #f9f5f5;
  border-radius: 12px;
  padding: 25px;
  width: 100%;
  max-width: 350px;
  height: 250px; 
  text-align: center;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}


.account-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 10px 20px rgba(0,0,0,0.2);
}


.saldo-actual:hover {
  transform: translateY(-5px);
  box-shadow: 0 10px 20px rgba(0,0,0,0.2);
}

.transactions-table {
  width: 90%;
  margin: 20px auto;
  border-collapse: collapse;
}

.transactions-table th, .transactions-table td {
  border: 1px solid #ccc;
  padding: 10px;
  text-align: center;
}

.transactions-table th {
  background-color: var(--color-oscuro);
  color: white;
}
