:root {
  --color-principal: #0077b6;
  --color-complementario1: #6c757d;
  --color-complementario2: #e63946;
  --color-oscuro: #1a1a2e;
  --color-claro: #f8f9fa;
  --color-acento: #00b4d8;
}

#auth-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100vw;
  margin: 0;
  padding: 0;
  position: absolute;
  top: 0;
  left: 0;
  
  background-image: url('../../../assets/8d6ba820-778f-4248-b9c8-ec5cab5ee2be.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  overflow: hidden;
}

#login-box {
  background-color: rgba(255, 255, 255, 0.808);
  padding: 40px 35px;
  border-radius: 14px;
  text-align: center;
  width: 400px;
  height: 480px;
  box-shadow: 40px 30px 30px rgb(0, 0, 0);
}

#login-box:hover {
  transform: translateY(-5px);
} 

.checkbox-container {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin-top: 12px;
  gap: 10px;
  font-size: 1rem;
  color: var(--color-oscuro);
  font-weight: 500;
  cursor: pointer;
}

#login-box h1 {
  background-color: var(--color-claro);
  color: var(--color-oscuro);
  font-size: 2.0rem;
  width: 400px;
  font-weight: 800;
  margin-bottom: 29px;
  text-transform: capitalize;
  border-radius: 20px;
  box-shadow: 30px 15px 10px rgb(0, 0, 0);
}

#login-box h1:hover {
  transform: translateY(-3px);
}

#login-box p {
  color: var(--color-oscuro);
  font-size: 1.1rem;
  font-weight: 630;
  margin-bottom: 23px;
  text-transform: capitalize;
  box-shadow: 10px 11px 10px rgb(0, 0, 0);
}


.login_input {
  width: 350px;
  padding: 12px 15px;
  margin: 8px 0;
  border: 1px solid var(--color-complementario1);
  border-radius: 8px;
  background-color: var(--color-claro);
  color: var(--color-oscuro);
  font-size: 0.95rem;
}

.login_input:focus {
  border-color: var(--color-oscuro);
  transform: scale(1.01);
}

#btn_login, #btn_register {
  width: 100%;
  padding: 12px;
  margin-top: 18px;
  background-color: var(--color-oscuro) !important;
  color: white !important;
  font-size: 1rem;
  font-weight: 600;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: all 0.3s ease;
}

#btn_login:hover, #btn_register:hover {
  background-color: #d62a38 !important;
  transform: scale(1.03);
}

.login_input::placeholder {
  color: var(--color-complementario1s);
}

.forgot-password a {
  color: var(--color-oscuro); 
  font-size: 1.1rem;
}

.forgot-password a:hover {
  text-decoration: underline;
}

