.dashboard-root {
  height: 100%;
  width: 100%;
  --color-principal: #E3F2FD;
  --color-complementario1: #1976D2;
  --color-complementario2: #F44336;
  --color-oscuro:  #1E293B;
  --color-claro: #F8FAFC;
  background-color: #E2E8F0;
  --color-card-1: #10B981;          
  --color-card-2: #3B82F6;           
  --color-card-3: #8B5CF6;           
  --color-card-4: #6366F1;
  border-radius: 40px;           
}

.dashboard h2 {
  font-size: 1.5rem;
  color: #FFFFFF;
  box-shadow: rgba(15, 23, 42, 0.3) 10px 20px 8px;
  border-radius: 50px;
  font-weight: 700;
  background-color: var(--color-oscuro);
}

.dashboard h2:hover {
  transition: all 0.3s ease;
  box-shadow: rgba(15, 23, 42, 0.5) 10px 20px 12px;
}

.dashboard {
  height: auto;
  width: 100%;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background-color: var(--color-oscuro);
  padding: 20px 20px 20px 20px; 
  border-radius: 40px;
  max-width: 1200px;
  margin: 0 auto;
  margin-top: 50px;
}

.dashboard h1 {
  font-size: 1.75rem;
  box-shadow: rgba(15, 23, 42, 0.4) 5px 20px 8px;
  border-radius: 20px;
  color: #FFFFFF;
  font-weight: 700;
  width: 100%;
  height: 35px;
  background-color: var(--color-oscuro);
}

.dashboard h1:hover {
  transition: all 0.3s ease;
  box-shadow: rgba(15, 23, 42, 0.6) 10px 20px 12px;
}

.dashboard h3 {
  font-size: 1.2rem;
  font-weight: 900pxa;

}

.Bienvenida {
  height: auto;
  width: 1160px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background-color: var(--color-card-1);
  margin-top: 10px;
  padding: 20px;
  box-shadow: rgba(16, 185, 129, 0.3) 20px 20px 8px;
  border-radius: 10px;
}

.Bienvenida:hover {
  transform: translateY(-2px);
  box-shadow: rgba(16, 185, 129, 0.5) 20px 20px 20px 5px;
}

.header {
  height: 20px;
  width: 100%;
  background-color: #FFFFFF;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.menu {
  height: auto;
  width: 100%;
  position: fixed;
  top: 0px;
  left: 0px;
  background-color: var(--color-oscuro);
  z-index: 1000;
  padding: 10px 0;
}

.menu ul {
  display: flex;
  justify-content: center;
  list-style: none;
  margin: 0;
  padding: 0;
}

.Saldos{
  height: auto;
  width: 1160px;
  margin-top: 30px;
  padding: 20px;
  background-color: var(--color-card-2);
  box-shadow: rgba(59, 130, 246, 0.3) 20px 20px 8px;
  border-radius: 20px;
}

.Saldos:hover {
  transform: translateY(-1px);
  box-shadow: rgba(59, 130, 246, 0.5) 20px 20px 12px;
}

.Transacciones{
  height: auto;
  width: 1160px;
  margin-top: 30px;
  padding: 20px;
  background-color: var(--color-complementario2);
  box-shadow: rgba(244, 67, 54, 0.3) 20px 20px 8px;
  border-radius: 10px;
}

.Solicitudes{
  height: auto;
  width: 1160px;
  margin-top: 30px;
  padding: 20px;
  background-color: var(--color-card-4);
  border-radius: 10px;
  box-shadow: rgba(99, 102, 241, 0.3) 20px 20px 8px;
}

.Solicitudes:hover {
  transform: translateY(-1px);
  box-shadow: rgba(99, 102, 241, 0.5) 20px 20px 12px;
}

.Reportes{
  height: auto;
  width: 1160px;
  margin-top: 30px;
  padding: 20px;
  margin-bottom: 30px;
  background-color: var(--color-card-3);
  border-radius: 10px;
  box-shadow: rgba(139, 92, 246, 0.3) 20px 20px 8px;
} 

.Reportes:hover {
  transform: translateY(-1px);
  translate: scale(1.01);
  box-shadow: rgba(139, 92, 246, 0.5) 20px 20px 12px;
}

button {
  height: auto;
  width: auto;
  background-color: var(--color-oscuro);
  color: #FFFFFF;
  padding: 10px 20px;
  margin: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
  box-shadow: rgba(30, 41, 59, 0.4) 10px 10px 8px;
  border-radius: 20px;
  border-color: #0F172A;
}

button:hover {
  background-color: var(--color-complementario1);
  box-shadow: rgba(25, 118, 210, 0.5) 25px 20px 12px;
  transition: all 0.3s ease;
}
.accounts-transactions-history {
  margin-top: 10px;
  flex-grow: 1;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

.transactions-table-container {
  flex-grow: 1;
  overflow-y: auto;
  margin-top: 15px;
  border-radius: 8px;
  box-shadow: 0 8px 10px rgb(0, 0, 0);
  max-height: calc(80vh - 280px); 
}

.transactions-table {
  width: 100%;
  border-collapse: collapse;
  background-color: #FFFFFF;
}

.transactions-table th,
.transactions-table td {
  padding: 10px;
  text-align: center;
  font-size: 0.9rem;
  color: #334155;
  border-bottom: 7px solid #E2E8F0;
}

.transactions-table th {
  background-color: #1E293B !important; 
  color: #FFFFFF !important;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.85rem;
  position: sticky;
  top: 0;
  z-index: 2;
}

.transactions-table tr:hover {
  background-color: #F1F5F9;
}

